NET "OUTDATA0<0>" LOC = "L34" | IOSTANDARD = LVTTL; # P<65>
NET "OUTDATA0<1>" LOC = "L33" | IOSTANDARD = LVTTL; # P<66>
NET "OUTDATA0<4>" LOC = "R31" | IOSTANDARD = LVTTL; # P<96>
NET "OUTDATA0<6>" LOC = "R27" | IOSTANDARD = LVTTL; # P<95>
NET "OUTDATA0<5>" LOC = "R32" | IOSTANDARD = LVTTL; # P<93>
NET "OUTDATA0<2>" LOC = "M30" | IOSTANDARD = LVTTL; # P<64>
NET "OUTDATA0<3>" LOC = "R28" | IOSTANDARD = LVTTL; # P<94>
NET "OUTDATA0<7>" LOC = "R33" | IOSTANDARD = LVTTL; # P<92>

NET "OUTDATA1<0>" LOC = "M27" | IOSTANDARD = LVTTL; # P<68>
NET "OUTDATA1<1>" LOC = "N32" | IOSTANDARD = LVTTL; # P<70>
NET "OUTDATA1<4>" LOC = "T33" | IOSTANDARD = LVTTL; # P<100>
NET "OUTDATA1<6>" LOC = "N25" | IOSTANDARD = LVTTL; # P<99>
NET "OUTDATA1<5>" LOC = "P24" | IOSTANDARD = LVTTL; # P<98>
NET "OUTDATA1<2>" LOC = "M28" | IOSTANDARD = LVTTL; # P<67>
NET "OUTDATA1<3>" LOC = "M31" | IOSTANDARD = LVTTL; # P<69>
NET "OUTDATA1<7>" LOC = "P25" | IOSTANDARD = LVTTL; # P<97>

NET "OUTDATA2<0>" LOC = "M32" | IOSTANDARD = LVTTL; # P<72>
NET "OUTDATA2<1>" LOC = "N30" | IOSTANDARD = LVTTL; # P<73>
NET "OUTDATA2<4>" LOC = "T29" | IOSTANDARD = LVTTL; # P<105>
NET "OUTDATA2<6>" LOC = "T30" | IOSTANDARD = LVTTL; # P<104>
NET "OUTDATA2<5>" LOC = "R34" | IOSTANDARD = LVTTL; # P<102>
NET "OUTDATA2<2>" LOC = "M33" | IOSTANDARD = LVTTL; # P<71>
NET "OUTDATA2<3>" LOC = "T26" | IOSTANDARD = LVTTL; # P<103>
NET "OUTDATA2<7>" LOC = "T31" | IOSTANDARD = LVTTL; # P<101>

NET "OUTDATA3<0>" LOC = "N33" | IOSTANDARD = LVTTL; # P<75>
NET "OUTDATA3<1>" LOC = "N28" | IOSTANDARD = LVTTL; # P<77>
NET "OUTDATA3<4>" LOC = "U32" | IOSTANDARD = LVTTL; # P<109>
NET "OUTDATA3<6>" LOC = "T28" | IOSTANDARD = LVTTL; # P<108>
NET "OUTDATA3<5>" LOC = "R24" | IOSTANDARD = LVTTL; # P<107>
NET "OUTDATA3<2>" LOC = "N29" | IOSTANDARD = LVTTL; # P<74>
NET "OUTDATA3<3>" LOC = "L30" | IOSTANDARD = LVTTL; # P<76>
NET "OUTDATA3<7>" LOC = "R26" | IOSTANDARD = LVTTL; # P<106>

NET "OUTDATA4<0>" LOC = "P31" | IOSTANDARD = LVTTL; # P<79>
NET "OUTDATA4<1>" LOC = "N34" | IOSTANDARD = LVTTL; # P<80>
NET "OUTDATA4<4>" LOC = "U33" | IOSTANDARD = LVTTL; # P<114>
NET "OUTDATA4<6>" LOC = "U30" | IOSTANDARD = LVTTL; # P<113>
NET "OUTDATA4<5>" LOC = "T24" | IOSTANDARD = LVTTL; # P<111>
NET "OUTDATA4<2>" LOC = "N27" | IOSTANDARD = LVTTL; # P<78>
NET "OUTDATA4<3>" LOC = "U31" | IOSTANDARD = LVTTL; # P<112>
NET "OUTDATA4<7>" LOC = "T34" | IOSTANDARD = LVTTL; # P<110>

NET "OUTDATA5<0>" LOC = "P30" | IOSTANDARD = LVTTL; # P<82>
NET "OUTDATA5<1>" LOC = "P32" | IOSTANDARD = LVTTL; # P<84>
NET "OUTDATA5<4>" LOC = "K34" | IOSTANDARD = LVTTL; # P<118>
NET "OUTDATA5<6>" LOC = "U27" | IOSTANDARD = LVTTL; # P<117>
NET "OUTDATA5<5>" LOC = "U28" | IOSTANDARD = LVTTL; # P<116>
NET "OUTDATA5<2>" LOC = "L31" | IOSTANDARD = LVTTL; # P<81>
NET "OUTDATA5<3>" LOC = "P29" | IOSTANDARD = LVTTL; # P<83>
NET "OUTDATA5<7>" LOC = "T25" | IOSTANDARD = LVTTL; # P<115>

NET "OUTDATA6<0>" LOC = "P27" | IOSTANDARD = LVTTL; # P<86>
NET "OUTDATA6<1>" LOC = "P26" | IOSTANDARD = LVTTL; # P<87>
NET "OUTDATA6<4>" LOC = "J34" | IOSTANDARD = LVTTL; # P<123>
NET "OUTDATA6<6>" LOC = "K33" | IOSTANDARD = LVTTL; # P<122>
NET "OUTDATA6<5>" LOC = "U25" | IOSTANDARD = LVTTL; # P<120>
NET "OUTDATA6<2>" LOC = "M25" | IOSTANDARD = LVTTL; # P<85>
NET "OUTDATA6<3>" LOC = "H33" | IOSTANDARD = LVTTL; # P<121>
NET "OUTDATA6<7>" LOC = "U26" | IOSTANDARD = LVTTL; # P<119>

NET "OUTDATA7<0>" LOC = "N24" | IOSTANDARD = LVTTL; # P<89>
NET "OUTDATA7<1>" LOC = "R29" | IOSTANDARD = LVTTL; # P<91>
NET "OUTDATA7<4>" LOC = "C34" | IOSTANDARD = LVTTL; # P<1>
NET "OUTDATA7<6>" LOC = "K32" | IOSTANDARD = LVTTL; # P<126>
NET "OUTDATA7<5>" LOC = "H34" | IOSTANDARD = LVTTL; # P<125>
NET "OUTDATA7<2>" LOC = "P34" | IOSTANDARD = LVTTL; # P<88>
NET "OUTDATA7<3>" LOC = "M26" | IOSTANDARD = LVTTL; # P<90>
NET "OUTDATA7<7>" LOC = "E34" | IOSTANDARD = LVTTL; # P<124>

